.logo{
  height: 50px;
  width: 150px;

}
.btn-brand{
  background-color: #111430;
  color: white;
  border: none;
  height: 50px;
  width: 170px;
  border-radius: 5px;
}
.text-brand{
  color: #111430;
}